---
import BaseLayout from "@web-astro/layout/BaseLayout.astro";
import { getRestaurantData_Service } from "@db/services/restaurant.service";
import Menu from "@web-astro/components/restaurant/menu/Menu.astro";
const { slug, restaurantId } = Astro.params;

if (!restaurantId) {
	throw new Error("Restaurant ID is required");
}

const restaurant = await getRestaurantData_Service(restaurantId);
if (!restaurant) {
	throw new Error("Restaurant not found");
}

const getMenuRoot = () => {
	if (!restaurant.menu?.menuRoot) {
		throw new Error("Menu root not found");
	}
	return restaurant.menu.menuRoot;
};
---

<BaseLayout title={`${restaurant?.name} - ${slug}`}>
	<h1>{slug}</h1>
	<h2>{restaurantId}</h2>
	<script define:vars={{ menuRoot: restaurant.menu?.menuRoot, restaurantId }}>
		window.menuRoot = menuRoot;
		window.restaurantId = restaurantId;
	</script>
	<Menu menuRoot={restaurant.menu?.menuRoot} getMenuRoot={getMenuRoot} />
</BaseLayout>
