---
import BaseLayout from "@web-astro/layout/BaseLayout.astro";
import { getStoreData_CacheJSON } from "@db/cache_json/store.cache_json";
import Menu from "@web-astro/components/store-page/menu/Menu.astro";
import SingleCartBtn from "@web-astro/components/cart/SingleCartBtn.vue";
import StorePageAddressWidget from "@web-astro/components/store-page/StorePageAddressWidget.vue";
import { getSupportTeamServiceFee_Service, getWebsiteTeamServiceFee_Service } from "@db/services/website.service";
import type { OrderType } from "@lib/types/orderType";
import OrderTypeWidget from "@web-astro/components/store-page/OrderTypeWidget.astro";
import SingleCartView from "@web-astro/components/cart/SingleCartView.vue";

const { slug, storeId } = Astro.params;
const orderType: OrderType = Astro.url.searchParams.get("order-type") === "pickup" ? "pickup" : "delivery";
if (!storeId) {
	throw new Error("Store ID is required");
}

const [supportTeamServiceFee, websiteTeamServiceFee, storeData] = await Promise.all([
	getSupportTeamServiceFee_Service(storeId),
	getWebsiteTeamServiceFee_Service(
		Astro.locals.WEBSITE?.id ?? "",
		storeId,
		Astro.locals.WEBSITE?.defaultMarketplaceFee ?? null
	),
	getStoreData_CacheJSON(storeId)
]);
if (!storeData) {
	return new Response(null, { status: 404 });
}

const getMenuRoot = () => {
	if (!storeData.menu?.menuRoot) {
		throw new Error("Menu root not found");
	}
	return storeData.menu.menuRoot;
};
---

<BaseLayout title={`${storeData?.name} - ${slug}`}>
	<script
		is:inline
		define:vars={{
			storeData: storeData,
			orderType: orderType,
			supportTeamServiceFee: supportTeamServiceFee,
			websiteTeamServiceFee: websiteTeamServiceFee
		}}
	>
		window.storeData = storeData;
		window.orderType = orderType;
		window.supportTeamServiceFee = supportTeamServiceFee;
		window.websiteTeamServiceFee = websiteTeamServiceFee;
	</script>
	<h2>{storeData.name}</h2>

	<StorePageAddressWidget client:only="vue" />

	<OrderTypeWidget
		offersDelivery={storeData.offersDelivery}
		offersPickup={storeData.offersPickup}
		orderType={orderType}
	/>

	<Menu menuRoot={storeData.menu?.menuRoot} getMenuRoot={getMenuRoot} storeData={storeData} />
	<div slot="header-right">
		<SingleCartBtn client:only="vue" />
		<script>
			import { openRightDrawer } from "@web-astro/utils/openRightDrawer";
			// if url has ?cartId= then open the right drawer check with new URL object
			if (window.location.hash === "#open-cart") {
				openRightDrawer();
				history.replaceState(null, "", window.location.pathname + window.location.search);
			}
		</script>
	</div>
	<div slot="right-drawer">
		<SingleCartView client:only="vue" />
	</div>
</BaseLayout>
