---
import BaseLayout from "@web-astro/layout/BaseLayout.astro";
import { getStoreData_Service } from "@db/services/store.service";
import Menu from "@web-astro/components/store-page/menu/Menu.astro";
import SingleCartBtn from "@web-astro/components/cart/SingleCartBtn.vue";
import SingleCartView from "@web-astro/components/cart/SingleCartView.vue";
import StorePageAddressWidget from "@web-astro/components/store-page/StorePageAddressWidget.vue";
import { buttonVariants } from "@/components/ui/button";
import type { OrderType } from "@lib/types/orderType";

const { slug, storeId } = Astro.params;
const orderType: OrderType = Astro.url.searchParams.get("order-type") === "pickup" ? "pickup" : "delivery";
if (!storeId) {
	throw new Error("Store ID is required");
}

const store = await getStoreData_Service(storeId);
if (!store) {
	return new Response(null, { status: 404 });
}

const createPageUrl = (orderType: OrderType | undefined = undefined) => {
	const url = new URL(Astro.url);
	if (orderType) url.searchParams.set("order-type", orderType);
	return url.toString();
};

const getMenuRoot = () => {
	if (!store.menu?.menuRoot) {
		throw new Error("Menu root not found");
	}
	return store.menu.menuRoot;
};
---

<BaseLayout title={`${store?.name} - ${slug}`}>
	<script
		is:inline
		define:vars={{
			storeData: store,
			orderType: orderType
		}}
	>
		window.storeData = storeData;
		window.orderType = orderType;
	</script>
	<h2>{store.name}</h2>

	<StorePageAddressWidget client:only="vue" />
	<div
		class="bg-muted text-muted-foreground my-4 grid w-fit min-w-48 grid-cols-2 items-center justify-center rounded-lg p-1">
		<a
			class={buttonVariants({ variant: "ghost" }) +
				`${orderType === "delivery" ? " bg-background text-foreground shadow hover:bg-background/80" : ""}`}
			href={createPageUrl("delivery")}>
			<span class="truncate">Delivery</span>
		</a>

		<a
			class={buttonVariants({ variant: "ghost" }) +
				`${orderType === "pickup" ? " bg-background text-foreground shadow hover:bg-background/80" : ""}`}
			href={createPageUrl("pickup")}>
			<span class="truncate">Pickup</span>
		</a>
	</div>
	<Menu menuRoot={store.menu?.menuRoot} getMenuRoot={getMenuRoot} />
	<div slot="header-right">
		<SingleCartBtn client:only="vue" />
		<script>
			import { openRightDrawer } from "@web-astro/utils/openRightDrawer";
			// if url has ?cartId= then open the right drawer check with new URL object
			if (window.location.hash === "#open-cart") {
				openRightDrawer();
				history.replaceState(null, "", window.location.pathname + window.location.search);
			}
		</script>
	</div>
	<div slot="right-drawer">
		<SingleCartView client:only="vue" />
	</div>
</BaseLayout>
