---
// // If required we can get the user info from SSR
// if (import.meta.env.DEV) {
// 	process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";
// }
// const host = Astro.request.headers.get("host");
// const protocol = Astro.request.headers.get("x-forwarded-proto") ?? "http";
// const authRequest = new Request(`${protocol}://${host}/__p/api/user/whoami`, {
// 	headers: Astro.request.headers
// });

// const response = await fetch(authRequest);
// const sessionCookie = response.headers.get("set-cookie");
// if (sessionCookie) {
// 	Astro.response.headers.set("Set-Cookie", sessionCookie);
// }
// const { data: serverSideUser } = await response.json();
// console.log(serverSideUser);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div id="user-info"><button id="whoami-button">whoami</button></div>

		<script>
			import { createAuthApiClient } from "lib/apiClients/authApiClient";
			const authApiClient = createAuthApiClient(`${window.location.origin}/__p/`);
			async function whoami() {
				const { data, error } = await (await authApiClient.api.user.whoami.$get()).json();
				window.user = data;
				const userInfo = document.querySelector<HTMLDivElement>("#user-info");
				if (userInfo) {
					if (data) {
						userInfo.innerHTML =
							`<pre>${JSON.stringify(window.user?.email, null, 2)}</pre>` +
							`<a 
								href="${authApiClient.api.user.logout.$url().href}">
									Signout
							</a>`;
					} else {
						userInfo.innerHTML = `<a 
								href="${authApiClient.api.login["google-signin"].$url().href}">
									<img src="/google-mini.svg" width="40px" alt="Google Signin" />
									Google Signin
							</a>`;
					}
				}
			}
			const whoamiButton = document.querySelector<HTMLButtonElement>("#whoami-button");
			if (whoamiButton) {
				whoamiButton.addEventListener("click", whoami);
			}
		</script>
	</body>
</html>
